@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

* {
  font-family: "Poppins", sans-serif;
  transition: all 0.2s ease-in-out;
}

@theme {
  --color-purpleIndigo: #4b0082;
  --color-darkPurpleIndigo: #40026e;
}

.landing-text .text {
  @apply text-white text-[30px] md:text-3xl lg:text-5xl;
}

.reg-link {
  @apply text-white text-[15px] border-[1px] border-white rounded-full py-1 px-10 hover:text-purpleIndigo hover:bg-white mt-4 mr-2;
}

.dashboard-svg {
  background-image: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20758.56%20758.56%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20preserveAspectRatio%3D%22none%22%3E%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%22758.56%22%20height%3D%22758.56%22%20fill%3D%22%23ffffff%22/%3E%3Cg%20transform%3D%22rotate(45%20379.28%20379.28)%22%3E%3Cpath%20d%3D%22M%20-379.28%20588.56%20S%20-212.00%20443.56%200.00%20588.56%2073.28%20473.56%20379.28%20588.56%20453.56%20469.56%20758.56%20588.56%20938.20%20513.56%201137.84%20588.56%20h%20110%20V%201358.56%20H%20-379.28%20Z%22%20fill%3D%22%232b285f%22/%3E%3Cpath%20d%3D%22M%20-379.28%20195.00%20S%20-199.64%20107.50%200.00%20195.00%20163.28%2096.00%20379.28%20195.00%20481.56%20107.50%20758.56%20195.00%20938.20%2033.00%201137.84%20195.00%20h%20110%20V%20-600%20H%20-379.28%20Z%22%20fill%3D%22%23360c4c%22/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #40026e;
}

::-webkit-scrollbar-thumb:hover {
  background: #40026e;
}
